<p id="notice"><%= notice %></p>

<% if current_user %>
    <% if @recipe.favorited_by.exists?(current_user.id) %>
        <h1><%= @recipe.name %></h1> <%= link_to raw('<span class="fa-stack fa-2x"><i class="fa fa-heart fa-stack-1x"></i><i class="fa fa-bolt fa-stack-1x fa-inverse"></i></span>'), favorite_recipe_path(type: "unfavorite"), method: :put, alt: "Eltávolítás a kedvencek közül." %>
    <% else %>
        <h1><%= @recipe.name %></h1> <%= link_to raw('<span class="fa-stack fa-2x"><i class="fa fa-heart fa-stack-1x"></i></span>'),   favorite_recipe_path(type: "favorite"), method: :put, alt: "Hozzáadás a kedvencekhez." %>
    <% end %>
<% end %>
<br />
<% if !user_signed_in? %>
    <h1><%= @recipe.name %></h1>
<% end %>

<%= rating_for @recipe, "instructions", :star => 5 %>
<div class="recipe-image img-responsive">
  <%= image_tag(@recipe.image.url, height: "200px") %>
</div>
<% if can? :update, @recipe %>
    <%= link_to 'Módosítás', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Vissza', _back_url %>
<div>
  <p><i class="fa fa-clock-o"></i> <%= @recipe.time %> perc   |   <i class="fa fa-tachometer"> Nehézségi fok:</i> <%= Level.find(@recipe.level).name %></p>
</div>

<div>
  <h3>Hozzávalók:</h3>
  <h5><i class="fa fa-users"> </i> <%= @recipe.quantity %> személyre</h5>
  <%= raw nl2br(h(@recipe.ingredients)) %>
</div>
<br/>
<legend>Elkészítés:</legend>

<div class="leiras">
  <%= raw @recipe.instructions %>
</div>
<%= render :partial => 'recipes/comments/form' %>
<%= render :partial => 'recipes/comments/comments' %>
