<br />
<% if user_signed_in? %>
<h3>Mondd el véleményed erről a receptről:</h3>
<%= form_for(:comment) do |f| %>
    <%= f.text_area :content, :id => 'comment', cols:"50", rows: "5" %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %><br />
    <%= f.submit 'Belemondom' %>
    <% end %>
<% else %>
<div class = "alert alert-warning"><strong>A hozzászóláshoz be kell jelentkezned. Ha még nincs fiókot akkor <%= link_to "ide", new_user_registration_path %> kattintva létrehozhatsz egyet.</strong></div>
<% end %>
